@import "./frontend/partials/preload";
@import "./frontend/partials/switch";
@import "./frontend/partials/images";
@import "./frontend/partials/input-date";
@import "../js/npm/vue-multiselect/dist/dist/vue-multiselect.css";

.select2 {
    width: 100% !important;
}
.required {
    color: inherit;
}
.admin-card-title {
    color: #b00a86;
    font-weight: 900;
    font-size: 1.2rem;
    font-family: "Times New Roman", Times, serif;
}
